.confirm-deletion {
    text-align: center;
    .message {
        margin-bottom: 1rem;

        .data {
            font-weight: 500;
        }
    }

    .actions {
        display: flex;
        justify-content: center;
        align-items: center;
    }
}